{% load static %}
<!-- About Start -->
<div class="container-fluid p-5">
    <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 500px;">
            <div class="position-relative h-100">
                <div class="position-absolute top-0 start-0 animate-rotate" style="width: 160px; height: 160px;">
                    <img class="img-fluid" src="{% static 'home/images/about-round.jpg' %}" alt="">
                </div>
                <img class="position-absolute w-100 h-100 rounded-circle rounded-bottom rounded-end"
                    src="{% static 'home/images/about.jpg' %}" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4 wow fadeIn" data-wow-delay="0.2s">
                <h5 class="section-title">About Us</h5>
                <h1 class="display-3 mb-0">Cooking Together With The Expert</h1>
            </div>
            <p class="mb-4 wow fadeIn" data-wow-delay="0.3s">Nonumy erat diam duo labore clita. Sit magna ipsum
                dolor sed ea duo at ut. Tempor sit
                lorem sit magna ipsum duo. Sit eos dolor ut sea rebum, diam sea rebum lorem kasd ut ipsum dolor est
                ipsum. Et stet amet justo amet clita erat, ipsum sed at ipsum eirmod labore lorem.</p>
            <div class="row">
                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-light rounded p-4">
                        <img class="img-fluid bg-primary rounded-circle mb-3"
                            src="{% static 'home/images/feature-1.png' %}" style="width: 80px; height: 80px;">
                        <h4>Master Chefs</h4>
                        <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam
                            ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing
                            labore.</p>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-light rounded p-4">
                        <img class="img-fluid bg-primary rounded-circle mb-3"
                            src="{% static 'home/images/feature-3.png' %}" style="width: 80px; height: 80px;">
                        <h4>Quality Food</h4>
                        <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam
                            ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing
                            labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->