{% load static %}

<!-- Menu Start -->
<div class="container-fluid menu py-5 px-0">
    <div class="mb-5 text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px; margin: auto;">
        <h5 class="section-title">Our Menu</h5>
        <h1 class="display-3 mb-0">Hands Craft More Than Meals</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5 wow fadeIn"
            data-wow-delay="0.2s">
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Breakfast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Launch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Dinner</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-1.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-2.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-3.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-4.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-5.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-6.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-7.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.8s">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-8.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0">
                <div class="row g-0">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-2.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-3.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-4.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-5.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-6.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-7.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-8.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-1.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade p-0">
                <div class="row g-0">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-3.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-4.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-5.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-6.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-7.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-8.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-1.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'home/images/menu-2.jpg' %}" alt="">
                            <div
                                class="position-absolute bottom-0 end-0 mb-4 me-4 py-1 px-3 bg-dark rounded-pill text-primary">
                                BBQ Chicken</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->